node_red_data/lib/flows/flows.json
[
    {
        "id": "7c49ec426ad188eb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c333bb69a864d60f",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "dcb8625254a4853e",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Humidity ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ca4a528d7e452885",
        "type": "inject",
        "z": "7c49ec426ad188eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "23ba2d86c99017ea"
            ]
        ]
    },
    {
        "id": "23ba2d86c99017ea",
        "type": "function",
        "z": "7c49ec426ad188eb",
        "name": "Random Level Values",
        "func": "msg.payload = Math.random() * 100\nmsg.topic = \"Entrance\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 100,
        "wires": [
            [
                "c333bb69a864d60f",
                "c9c86a37ca8399cf",
                "f775163d88e57a79"
            ]
        ]
    },
    {
        "id": "4fdf8346086a8c1c",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "dcb8625254a4853e",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart hum",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "c333bb69a864d60f"
            ]
        ]
    },
    {
        "id": "c9c86a37ca8399cf",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "dcb8625254a4853e",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperature  ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f775163d88e57a79",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "dcb8625254a4853e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Occupancy Level ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c5082aa8104a6ef2",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "dcb8625254a4853e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart occ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "f775163d88e57a79"
            ]
        ]
    },
    {
        "id": "0d1ce1edb70fcc7a",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "dcb8625254a4853e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart temp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 200,
        "wires": [
            [
                "c9c86a37ca8399cf"
            ]
        ]
    },
    {
        "id": "5622d84f710eebc1",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "08720a1c55b423f2",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Humidity ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e6142c3e2fea89d3",
        "type": "inject",
        "z": "7c49ec426ad188eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "9fb399f5a68af9c8"
            ]
        ]
    },
    {
        "id": "9fb399f5a68af9c8",
        "type": "function",
        "z": "7c49ec426ad188eb",
        "name": "Random Level Values",
        "func": "msg.payload = Math.random() * 100\nmsg.topic = \"Changing room\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 420,
        "wires": [
            [
                "5622d84f710eebc1",
                "0b77c591afb6d727"
            ]
        ]
    },
    {
        "id": "0b77710df8d8bdef",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "08720a1c55b423f2",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart hum",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 560,
        "wires": [
            [
                "5622d84f710eebc1"
            ]
        ]
    },
    {
        "id": "0b77c591afb6d727",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "08720a1c55b423f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature  ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "eea8ea8c633f8176",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "08720a1c55b423f2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart temp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 520,
        "wires": [
            [
                "0b77c591afb6d727"
            ]
        ]
    },
    {
        "id": "4e6b960da9bf83b0",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Treadmill Availabilty ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b759d5f2afd460d8",
        "type": "inject",
        "z": "7c49ec426ad188eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "120400f310db5818"
            ]
        ]
    },
    {
        "id": "120400f310db5818",
        "type": "function",
        "z": "7c49ec426ad188eb",
        "name": "Random Level Values",
        "func": "msg.payload = Math.random() * 100\nmsg.topic = \"Cardio Room\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 700,
        "wires": [
            [
                "4e6b960da9bf83b0",
                "85dbde568011d289",
                "58c106293762ad45",
                "bc27ba2f87dd67a1",
                "a9ce4c449b80745c",
                "84cec33e0b156041"
            ]
        ]
    },
    {
        "id": "f6204059122f9963",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart tread",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 840,
        "wires": [
            [
                "4e6b960da9bf83b0"
            ]
        ]
    },
    {
        "id": "85dbde568011d289",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Humidity ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "58c106293762ad45",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ab6353dc1a5fd596",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart temp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 760,
        "wires": [
            [
                "58c106293762ad45"
            ]
        ]
    },
    {
        "id": "3ef65bc7632f5fda",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart hum",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 800,
        "wires": [
            [
                "85dbde568011d289"
            ]
        ]
    },
    {
        "id": "84cec33e0b156041",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 17,
        "width": 0,
        "height": 0,
        "label": "Rowing Machine Availabilty ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "a9ce4c449b80745c",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "Stationary Bike Availability ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "bc27ba2f87dd67a1",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "Elliptical Trainer Avalablity ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "c815519aea1fdfbc",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 18,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart row",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 980,
        "wires": [
            [
                "84cec33e0b156041"
            ]
        ]
    },
    {
        "id": "c1f935580a8f3f26",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart ell",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 900,
        "wires": [
            [
                "bc27ba2f87dd67a1"
            ]
        ]
    },
    {
        "id": "a54b028b616b59de",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "8da36940b7d54ef2",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart stat",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 940,
        "wires": [
            [
                "a9ce4c449b80745c"
            ]
        ]
    },
    {
        "id": "a045f0c3573221a9",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Treadmill Availabilty ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "fa378c5586773f60",
        "type": "inject",
        "z": "7c49ec426ad188eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1140,
        "wires": [
            [
                "44fc9bee9963475d"
            ]
        ]
    },
    {
        "id": "44fc9bee9963475d",
        "type": "function",
        "z": "7c49ec426ad188eb",
        "name": "Random Level Values",
        "func": "msg.payload = Math.random() * 100\nmsg.topic = \"Lifting Room\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1140,
        "wires": [
            [
                "a045f0c3573221a9",
                "7f1ed009d02f6e4a",
                "5d6955b47a598335",
                "060c0197bf5647c8",
                "9ef147bee02680d8",
                "cfa6a292fb68bde2"
            ]
        ]
    },
    {
        "id": "5678920d0e9dfdcc",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart tread",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1280,
        "wires": [
            [
                "a045f0c3573221a9"
            ]
        ]
    },
    {
        "id": "7f1ed009d02f6e4a",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "5d6955b47a598335",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "d51efd848b05463d",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart temp",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 1200,
        "wires": [
            [
                "5d6955b47a598335"
            ]
        ]
    },
    {
        "id": "4147e94cee54b33e",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart hum",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 1240,
        "wires": [
            [
                "7f1ed009d02f6e4a"
            ]
        ]
    },
    {
        "id": "cfa6a292fb68bde2",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "Rowing Machine Availabilty ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "9ef147bee02680d8",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "Stationary Bike Availability ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "060c0197bf5647c8",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Elliptical Trainer Avalablity ",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "0ed310cb37eff2f4",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart row",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 1420,
        "wires": [
            [
                "cfa6a292fb68bde2"
            ]
        ]
    },
    {
        "id": "779fe88169dcb42a",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart ell",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 1340,
        "wires": [
            [
                "060c0197bf5647c8"
            ]
        ]
    },
    {
        "id": "7735a6fe1f46340d",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "d3a91e9f4eeca1da",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart stat",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 1380,
        "wires": [
            [
                "9ef147bee02680d8"
            ]
        ]
    },
    {
        "id": "819d6f1e987b4d2a",
        "type": "inject",
        "z": "7c49ec426ad188eb",
        "name": "Simulated Prediction Data",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"prediction_matrix\":[[10,20,30,40,50,60,70],[15,25,35,45,55,65,75],[20,30,40,50,60,70,80],[25,35,45,55,65,75,85],[30,40,50,60,70,80,90],[35,45,55,65,75,85,95],[40,50,60,70,80,90,100]]}",
        "payloadType": "json",
        "x": 150,
        "y": 1620,
        "wires": [
            [
                "3978af9d78eaa8ea"
            ]
        ]
    },
    {
        "id": "9d7df059bfcb11ba",
        "type": "function",
        "z": "7c49ec426ad188eb",
        "name": "Prediction Matrix",
        "func": "// Get the selected day from the dropdown\nlet selectedDay = flow.get(\"selectedDay\");\n\n// Retrieve the stored prediction matrix from flow memory\nlet predictionMatrix = flow.get(\"predictionMatrix\");\n\nif (selectedDay === undefined || !predictionMatrix) {\n    node.warn(\"No day selected or prediction matrix missing.\");\n    return null;  // Stop execution until valid data is available\n}\n\n// Define labels for time slots\nlet timeSlots = [\n    \"8:00-10:00\", \"10:00-12:00\", \"12:00-14:00\",\n    \"14:00-16:00\", \"16:00-18:00\", \"18:00-20:00\", \"20:00-22:00\"\n];\n\nlet formattedData = [];\n\n// Extract data for the selected day\nfor (let i = 0; i < timeSlots.length; i++) {\n    formattedData.push({ \"x\": timeSlots[i], \"y\": predictionMatrix[i][selectedDay] });\n}\n\n// Format for UI Chart node\nmsg.payload = [\n    {\n        \"series\": [\"Predicted Occupancy\"],\n        \"data\": [formattedData.map(d => d.y)],\n        \"labels\": formattedData.map(d => d.x)\n    }\n];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1620,
        "wires": [
            [
                "f0054cbab9f3b804",
                "74c6e4f2c7448a32"
            ]
        ]
    },
    {
        "id": "f0054cbab9f3b804",
        "type": "ui_chart",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "ac4dcaf121851566",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Future Gym Occupancy",
        "chartType": "bar",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "74c6e4f2c7448a32",
        "type": "debug",
        "z": "7c49ec426ad188eb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1720,
        "wires": []
    },
    {
        "id": "df519bcdc91bbded",
        "type": "ui_button",
        "z": "7c49ec426ad188eb",
        "name": "",
        "group": "ac4dcaf121851566",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Chart occ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 1560,
        "wires": [
            [
                "f0054cbab9f3b804"
            ]
        ]
    },
    {
        "id": "c57da1309ac2059a",
        "type": "change",
        "z": "7c49ec426ad188eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "selectedDay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1760,
        "wires": [
            [
                "9d7df059bfcb11ba"
            ]
        ]
    },
    {
        "id": "1dcac183e136acd5",
        "type": "ui_dropdown",
        "z": "7c49ec426ad188eb",
        "name": "",
        "label": "Select Day",
        "tooltip": "",
        "place": "Select option",
        "group": "ac4dcaf121851566",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "\"Monday\"",
                "value": 0,
                "type": "num"
            },
            {
                "label": "\"Tuesday\"",
                "value": 1,
                "type": "num"
            },
            {
                "label": "\"Wednesday\"",
                "value": 2,
                "type": "num"
            },
            {
                "label": "\"Thursday\"",
                "value": 3,
                "type": "num"
            },
            {
                "label": "\"Friday\"",
                "value": "4",
                "type": "str"
            },
            {
                "label": "\"Saturday\"",
                "value": "5",
                "type": "str"
            },
            {
                "label": "\"Sunday\"",
                "value": "6",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 1780,
        "wires": [
            [
                "c57da1309ac2059a"
            ]
        ]
    },
    {
        "id": "3978af9d78eaa8ea",
        "type": "change",
        "z": "7c49ec426ad188eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "predictionMatrix",
                "pt": "flow",
                "to": "payload.prediction_matrix",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1620,
        "wires": [
            [
                "9d7df059bfcb11ba"
            ]
        ]
    },
    {
        "id": "af1fb41211f3d4c6",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "dcb8625254a4853e",
        "order": 1,
        "width": 14,
        "height": 1
    },
    {
        "id": "2533668439376e87",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "dcb8625254a4853e",
        "order": 4,
        "width": 14,
        "height": 1
    },
    {
        "id": "41e8b95e02be1fb8",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "dcb8625254a4853e",
        "order": 7,
        "width": 14,
        "height": 1
    },
    {
        "id": "786bf89444620211",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "08720a1c55b423f2",
        "order": 1,
        "width": 14,
        "height": 1
    },
    {
        "id": "36938592cb4b1f5b",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "08720a1c55b423f2",
        "order": 4,
        "width": 14,
        "height": 1
    },
    {
        "id": "04695848e93f43bd",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "8da36940b7d54ef2",
        "order": 1,
        "width": 14,
        "height": 1
    },
    {
        "id": "4794d5c3d712b06e",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "8da36940b7d54ef2",
        "order": 4,
        "width": 14,
        "height": 1
    },
    {
        "id": "7eb80e4dc4b047fa",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "8da36940b7d54ef2",
        "order": 7,
        "width": 14,
        "height": 1
    },
    {
        "id": "0f1c20cb46b7a2bc",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "8da36940b7d54ef2",
        "order": 10,
        "width": 14,
        "height": 1
    },
    {
        "id": "a971e19a4b1ce0f6",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "8da36940b7d54ef2",
        "order": 13,
        "width": 14,
        "height": 1
    },
    {
        "id": "238cefb295f0c876",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "8da36940b7d54ef2",
        "order": 16,
        "width": 14,
        "height": 1
    },
    {
        "id": "895c144ca4a8a014",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "d3a91e9f4eeca1da",
        "order": 1,
        "width": 14,
        "height": 1
    },
    {
        "id": "4783331147e6a606",
        "type": "ui_spacer",
        "z": "7c49ec426ad188eb",
        "name": "spacer",
        "group": "ac4dcaf121851566",
        "order": 1,
        "width": 14,
        "height": 1
    },
    {
        "id": "dcb8625254a4853e",
        "type": "ui_group",
        "name": "Entrance",
        "tab": "e7d0e47ec8cd7550",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "08720a1c55b423f2",
        "type": "ui_group",
        "name": "Changing Room",
        "tab": "e7d0e47ec8cd7550",
        "order": 3,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8da36940b7d54ef2",
        "type": "ui_group",
        "name": "Cardio Room",
        "tab": "e7d0e47ec8cd7550",
        "order": 4,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3a91e9f4eeca1da",
        "type": "ui_group",
        "name": "Lifting Room",
        "tab": "e7d0e47ec8cd7550",
        "order": 5,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ac4dcaf121851566",
        "type": "ui_group",
        "name": "Occupancy Prediction",
        "tab": "e7d0e47ec8cd7550",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7d0e47ec8cd7550",
        "type": "ui_tab",
        "name": "SMART GYM DASHBOARD",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]